.page {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  transform: translateX(0);
  z-index: 3000;

  transition-duration: .3s;
}

.page.after {
  z-index: 500;
  transform: translateX(120%);
}

.page.before {
  z-index: 500;
  transform: translateX(-120%);
}

.page {
  .main-illu {
    width: 25%;
    left: 15%;
    height: 100%;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0;
  }

  .content {
    z-index: 800;
    position: absolute;
    left: 50%;
    width: 50%;
    top: 0;
    bottom: 0;

    h1 {
      font-family: 'Caslong';
      font-weight: 300;
      font-size: 5.5vw;
      text-align: left;
      position: absolute;
      left: 0;
      top: 50%;
      margin: 0;
      transform: translateY(-50%);
    }

    h2 {
      position: absolute;
      font-size: 1.4vw;
      top: 50%;
      transform: translateY(-13vw);
      text-transform: uppercase;
      font-family: 'Campton';
      font-weight: 300;
    }

    .line {
      position: absolute;
      top: 50%;
      transform: translate(-3vw, -9.5vw);
      width: 6vw;
      height: 2px;
      background: white;
    }
  }

}



/* always present */
.expand-transition {
  transition: all .3s ease;
  overflow: hidden;

  &.activite {
    height: 10vh;
    &.popup, &.onboarding {
      height: 13vh;
    }
  }
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 0;
  &.activite {
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 0;

    &.popup, &.onboarding {
      height: 0;
    }
  }
}
